.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.product-image {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-name {
  height: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.product-price {
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  margin-top: auto;
  align-self: center;
  padding: 6px 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #45a049;
}
